.IssueContainer{
    display: grid;
    grid-template-columns: 1fr [side] 3fr [description];
    grid-template-rows: repeat(3, 2.5rem);
    background: white;
}

.IssueTitle {
    grid-row-start: 1;
    grid-column-start: 2;
    margin-top: auto;
    min-width: 0;
}

.IssueTitle > h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.IssueLastRow {
    grid-row-start: 3;
    grid-column-start: 2;
    display: flex;
    align-items: center;
}

.IssueDate {
    margin-left: auto;
    margin-right: 1rem;
}

.IssueSide {
    grid-row: 1 / 4;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem .5rem;
    min-width: 0;
}

.IssueReporterNickname {
    margin-top: .5em;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
}

.IssueExtraMessages {
    color: #7cb305;
    font-size:0.8rem;
    margin:auto 0px;
}