{
    "parserOptions": {
        "ecmaVersion":9,
        "sourceType": "module"
    },

    "env": {
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "parser": "babel-eslint"
}