.last-issues-panel{
    flex:auto;
    display: flex;
    flex-direction: column;
}


.new-issue {
    margin-top: auto;
    text-align: center;
    padding: 0.5em;
}

.issues-list {
    flex:auto;
    overflow: auto;
}