.last-issues-panel{
    flex:auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}


.new-issue {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.issues-list {
    flex:auto;
    overflow: auto;
}