.issue-page {
    flex:auto;
    padding: 1rem;
}

.header {
    display: flex;
    margin-bottom: 1rem;
}

.header-menu {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-info {
    display: flex;
    flex-direction: column;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-status {
    margin-left: 1em;
    font-size: 0.8em;
    color: gray;
}

.header-title {
    font-weight: bold;
}

.header-subtitle {
    font-size: 0.8em;
    color: gray;
}

.header-back-button {
    padding-left: 0em !important;
    padding-right: 0.4em !important;
}

.section {
    margin-bottom: 1rem;
}

.section-title {
    font-weight: bold;
}

.section-content {
    padding-left: 0.2rem;
}

.common-issue-text {
    font-style: italic;
}
