.issue-page {
    flex:auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    margin-bottom: 1rem;
}

.nav-bar-menu {
    margin-left: auto;
}

.issue-detail {
    flex:auto;
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.header-title {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.header-status {
    margin-left: 1em;
    font-size: 0.8em;
    color: gray;
}


.header-subtitle {
    font-size: 0.8em;
    color: gray;
}

.section {
    margin-bottom: 1rem;
}

.section-title {
    font-weight: bold;
}

.section-content {
    padding-left: 0.2rem;
}

.common-issue-text {
    font-style: italic;
}
