.issue-page {
    background-color: white;
}

.subtitle {
    font-size: 0.8em;
    color: gray;
}

.title {
    font-weight: bold;
}

.section {
    margin-bottom: 1rem;
}

.section-content {
    padding-left: 0.2rem;
}