.comments-list-content {
    padding-left: 0.2rem;
}

.comments-list-header {
    font-weight: bold;
}

.comment {
    flex:auto;
}

.comments-list {
    display: flex;
    flex-direction: column;
    flex:auto;
}
